.form-page{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 2rem;
    padding-inline: 3rem; 
    border: none;
    color: gray;
}

.form button{
    margin-inline: 2rem;
    padding-inline: 1.5rem;
    background-color: red;
    border-radius: 1rem;
    cursor: pointer;
}